<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.cubetimer" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SpeedCubeTimer</name>
    <description>
        The #1 app for Rubik's Cube enthusiasts!!!
    </description>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        
         <!-- Paths to splashscreens -->
        
        <splash platform="android" qualifier="land-hdpi" src="res/screens/android/screen-hdpi-landscape.png" />
        <splash platform="android" qualifier="land-ldpi" src="res/screens/android/screen-ldpi-landscape.png" />
        <splash platform="android" qualifier="land-mdpi" src="res/screens/android/screen-mdpi-landscape.png" />
        <splash platform="android" qualifier="land-xhdpi" src="res/screens/android/screen-xhdpi-landscape.png" />
        <splash platform="android" qualifier="port-hdpi" src="res/screens/android/screen-hdpi-portrait.png" />
        <splash platform="android" qualifier="port-ldpi" src="res/screens/android/screen-ldpi-portrait.png" />
        <splash platform="android" qualifier="port-mdpi" src="res/screens/android/screen-mdpi-portrait.png" />
        <splash platform="android" qualifier="port-xhdpi" src="res/screens/android/screen-xhdpi-portrait.png" />
        
        <!-- If none of the previous screens are selected, select default one  -->
        
        <splash src="splash.png" />    
        
         <!-- Paths to icons -->
        
        <icon platform="android" qualifier="ldpi" src="res/icons/android/icon-36-ldpi.png" />
        <icon platform="android" qualifier="mdpi" src="res/icons/android/icon-48-mdpi.png" />
        <icon platform="android" qualifier="hdpi" src="res/icons/android/icon-72-hdpi.png" />
        <icon platform="android" qualifier="xhdpi" src="res/icons/android/icon-96-xhdpi.png" />
        <icon platform="android" qualifier="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png" />
        <icon platform="android" qualifier="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png" />
        
        <!-- If none of the previous icons are selected, select default one  -->
        
        <icon src="icon.png" />
        
        <preference name="android-minSdkVersion" value="14" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    
    <!-- Plugin for splashscreen -->
    <plugin name="cordova-plugin-splashscreen" source="npm" />
        <preference name="SplashScreenDelay" value="3000" />  
        <preference name="AutoHideSplashScreen" value="true" />  
        <preference name="SplashScreen" value="res/screen/android" />  
        <preference name="SplashMaintainAspectRatio" value="true" /> 
    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />
</widget>
